# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/.gitkeep

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea

# Env files
# ---------------------------

.dev
.env
.env.*
!.env.example
!.env.*.example

# Vite
# ---------------------

/public/dist/
/site/config/vite.config.php

# Composer dependencies
# ---------------------

/node_modules

# Composer dependencies
# ---------------------

/vendor

# Plugins
# ---------------------

/site/plugins/*
!/site/plugins/custom*

# Compiled snippets and templates (Kirby Template Sugar)
# ---------------------

/site/compiled

# Content
# ---------------------

/data/storage/content/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts
# ---------------

/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Runtime Files
# ---------------

/data/runtime/*
!/data/runtime/cache/.gitkeep
!/data/runtime/logs/.gitkeep
!/data/runtime/sessions/.gitkeep

# License
# ---------------

/data/storage/.license