@import '~/styles/layers';

@layer component {
  .menu {
    background-color: red;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

@layer default {
  .menu {
    background-color: green;
  }
}
