@import './layers.css';

@layer reset {
  * {
    margin: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  a,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    text-align: left;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
  }

  details > summary {
    list-style: none;
  }
  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
}
