@import './layers.css';

@layer default {
  :root {
    /* Size */
    --text-sm: fluid(0.75rem, 1rem, 640px, 1024px);
    --text-md: fluid(1rem, 1.5rem, 640px, 1024px);
    --text-lg: fluid(1.5rem, 2.5rem, 640px, 1024px);
    --text-xl: fluid(2rem, 3.5rem, 640px, 1024px);

    /* Weight */
    --font-thin: 300;
    --font-normal: 400;
    --font-semi: 500;
    --font-bold: 600;

    /* Line height */
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
  }
}
